---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm";
---

<html>
  <body>
    <Layout title="Login">
      <LoginForm client:load />
    </Layout>
  </body>
</html>
