@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiguraSans";
  src: url("/public/fonts/FiguraSans_Medium.ttf");
}

@font-face {
  font-family: "HVFlorentino";
  src: url("/public/fonts/HV_Florentino_Regular.ttf");
}
