<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href=`/assets/logo.ico` />
    <meta name="generator" content={Astro.generator} />
    <title>Womb Quiz</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body class="bg-power-600 text-cloud-100 relative">
    <header class="p-4 absolute left-0 right-0">
      <a href="/">
        <img src=`/assets/logo.png` alt="Logo de la Marca" class="h-28" /></a
      >
    </header>
    <main class="flex items-center justify-center min-h-screen pt-36">
      <slot />
    </main>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
